@import "https://fonts.googleapis.com/css2?family=Lato";

// font
$font-lato: "Lato", Arial, sans-serif;

// color
$color-white: #FFFFFF;
$color-teal-A700: #00BFA5;
$color-light-blue-A700: #0091EA;
$color-cyan-A700: #00B8D4;
$color-green-A400: #00E676;
$color-home-page: radial-gradient(circle at 58% 50%, rgba(71, 71, 71, 0.03) 0%, rgba(71, 71, 71, 0.03) 60%, transparent 60%, transparent 98%, transparent 98%, transparent 100%), radial-gradient(circle at 36% 79%, rgba(71, 71, 71, 0.03) 0%, rgba(71, 71, 71, 0.03) 49%, transparent 49%, transparent 99%, transparent 99%, transparent 100%), radial-gradient(circle at 48% 23%, rgba(71, 71, 71, 0.03) 0%, rgba(71, 71, 71, 0.03) 50%, transparent 50%, transparent 87%, transparent 87%, transparent 100%), radial-gradient(circle at 55% 69%, rgba(71, 71, 71, 0.03) 0%, rgba(71, 71, 71, 0.03) 3%, transparent 3%, transparent 19%, transparent 19%, transparent 100%), radial-gradient(circle at 38% 69%, rgba(71, 71, 71, 0.03) 0%, rgba(71, 71, 71, 0.03) 15%, transparent 15%, transparent 33%, transparent 33%, transparent 100%), linear-gradient(255deg, rgb(128, 216, 255), rgb(44, 254, 203));
$color-other-page: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%), linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%), linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%), linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%), linear-gradient(90deg, rgb(100, 255, 218), rgb(64, 196, 255));

/*media query*/
// smartphones (landscape view)
$screen-phone-max: 415px;

// Small tablets (portrait view)
$screen-tablet-max: 768px;

@mixin tablet {
    @media (max-width: #{$screen-tablet-max}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$screen-phone-max}) {
        @content;
    }
}

@keyframes welcome-square {
    0% {
        transform: translateY(0px) rotate(360deg);
        opacity: 0;
    }

    100% {
        transform: translateY(1720px) rotate(0deg);
        opacity: 0.7;
    }
}

@keyframes welcome-background {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes welcome-title-fade-out {
    0% {
        opacity: 1;
        font-size: 6rem;
        letter-spacing: 1rem;

        @include phone {
            font-size: 3.5rem;
            letter-spacing: 0.5rem;
        }
    }

    100% {
        opacity: 0;
        font-size: 6rem;
        letter-spacing: 1rem;
        transform: translateY(-100%);

        @include phone {
            font-size: 3.5rem;
            letter-spacing: 0.5rem;
        }
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes backgound-filter {
    0% {
        filter: grayscale(0%);
        opacity: 1;
        filter: blur(0);
        filter: contrast(100%);
    }

    50% {
        filter: grayscale(30%);
        opacity: 0.6;
        filter: blur(0.5px);
        filter: contrast(160%);
    }

    100% {
        filter: grayscale(0%);
        opacity: 1;
        filter: blur(0);
        filter: contrast(100%);
    }
}

@keyframes navigation-item-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes navigation-background {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes text-name-animation {
    10% {
        transform: translate(20px, 0) scale(1);
        color: $color-white;
    }

    15% {
        transform: translate(20px, 0) scale(1);
        color: $color-white;
    }

    20% {
        transform: translate(0) scale(1);
        color: $color-white;
        opacity: 1;
    }

    100% {
        transform: translate(0) scale(1);
        color: $color-white;
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-lato;
}

.welcome-animation {
    z-index: 10;
    background: linear-gradient(45deg, $color-green-A400, $color-teal-A700, $color-cyan-A700, $color-light-blue-A700);
    background-size: 200%,200%;
    height: 100vh;
    animation: welcome-background 13s ease-in-out infinite;
    display: none; //should change to block before deploy

    &__title {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 40%;
        z-index: 11;

        & span {
            font-weight: 700;
            font-size: 5rem;
            text-transform: uppercase;
            color: $color-white;
            cursor: pointer;
            transition: font-size ease-in-out 0.3s, letter-spacing ease-in-out 0.3s;
            position: relative;

            @include phone {
                font-size: 3rem;
            }


            &:after {
                content: '';
                left: 0%;
                width: 100%;
                height: 0.2rem;
                background-color: $color-white;
                position: absolute;
                bottom: 0%;
                border-radius: 3px;
                transition: all 0.3s ease;
            }

            &:hover {
                font-size: 6rem;
                letter-spacing: 1rem;
                text-shadow: 10px 10px 300px;

                @include phone {
                    font-size: 3.5rem;
                    letter-spacing: 0.5rem;
                }


                &:after {
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }

    &__box-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        & li {
            position: absolute;
            top: -10%;
            display: block;
            list-style: none;
            width: 25px;
            height: 25px;
            background: $color-white;
            opacity: 0;
            animation: welcome-square 20s linear infinite;

            &:nth-child(1) {
                left: 85%;
                width: 80px;
                height: 80px;
                animation-delay: 0s;
            }

            &:nth-child(2) {
                left: 10%;
                width: 30px;
                height: 30px;
                animation-delay: 1.5s;
                animation-duration: 10s;
            }

            &:nth-child(3) {
                left: 67%;
                width: 100px;
                height: 100px;
                animation-delay: 5.5s;
            }

            &:nth-child(4) {
                left: 67%;
                width: 150px;
                height: 150px;
                animation-delay: 0s;
                animation-duration: 15s;
            }

            &:nth-child(5) {
                left: 50%;
                width: 40px;
                height: 40px;
                animation-delay: 0s;
            }

            &:nth-child(6) {
                left: 20%;
                width: 110px;
                height: 110px;
                animation-delay: 3.5s;
            }
        }
    }
}

.main {
    //display: none;
    height: 100vh;
}

#main-background-image {
    z-index: -1;
    position: absolute;
    background-repeat: no-repeat;
    animation: backgound-filter 5s infinite;
    width: 100%;
    height: 100%;
}

.main__navigation {
    width: 100%;
    height: 1vh;

    // navigation for large screen
    & nav {
        z-index: 7;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 7vh;
        line-height: 7vh;
        text-transform: uppercase;
        background-color: #FFFFFF;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        overflow: hidden;

        @include tablet {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100vh;
            line-height: initial;
            flex-direction: column;
            text-align: center;
            transform: rotateY(180deg);
            transform-origin: top left;
            transition: transform 0.5s ease-in-out;
        }
    }

    &__title {
        font-size: 2vh;
        color: white;
        background-color: #00BFA5;
        padding: 0 1rem;
        cursor: pointer;

        &:active {
            background-color: #0091EA;
        }

        @include tablet {
            animation: initial;
            border-radius: 100%;
            width: 7rem;
            height: 7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding: 0;
        }
    }

    & nav ul {
        display: flex;
        list-style: none;

        @include tablet {
            flex-direction: column;
            margin-top: -5rem;
        }
    }

    &__link {
        cursor: pointer;
        text-decoration: none;
        color: #00BFA5;
        font-size: 2vh;
        margin-right: 2rem;
        padding: 0 1rem;
        display: block;
        position: relative;
        transform-style: preserve-3d;
        transform-origin: top;
        transition: all 0.5s ease-in-out;

        @include tablet {
            margin: 2rem 0;
            width: auto;
        }


        &:active {
            &:after {
                background-color: #0091EA;
            }
        }

        &:hover {
            transform: rotateX(90deg);

            @include tablet {
                transform: unset;
                color: #0091EA;
                font-size: 2rem;

                &:before {
                    background-color: #0091EA;
                    width: 100%;
                    right: 0%;
                }
            }
        }

        &:before {
            @include tablet {
                content: '';
                width: 0%;
                right: 50%;
                height: 0.2rem;
                background-color: #00BFA5;
                position: absolute;
                bottom: 0%;
                border-radius: 3px;
                transition: all 0.5s ease-in-out;
            }
        }

        &:after {
            background-color: #00BFA5;
            content: attr(data-text);
            position: absolute;
            left: 0;
            bottom: -100%;
            padding: inherit;
            color: white;
            transform: rotateX(-90deg);
            transform-origin: top;

            @include tablet {
                content: none;
            }
        }
    }

    &__item {
        //animation: navigationItemDown 1s forwards;

        &:last-child {
            margin-right: 0;
        }
    }
}

//navigation button for tablet screen
@include tablet {
    .main__navigation {
        &__menu {
            display: block; //should change to none before deploy
            padding: 2rem 2.5rem;
            position: fixed;
            top: 1rem;
            right: 1rem;
            z-index: 9;
            border-radius: 5px;
            cursor: pointer;
            background-color: white;

            @include phone {
                top: 0.5rem;
                right: 0.5rem;
            }


            &__line {
                content: '';
                position: absolute;
                width: 3rem;
                height: 2px;
                background-color: #00BFA5;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                transition: all 0.5s;

                &:after {
                    content: '';
                    position: absolute;
                    width: 3rem;
                    height: 2px;
                    background-color: #00BFA5;
                    top: 2rem;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    transition: all 0.5s;
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 3rem;
                    height: 2px;
                    background-color: #00BFA5;
                    top: -2rem;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    transition: all 0.5s;
                }
            }
        }

        &__overlay {
            z-index: 7;
            width: 100%;
            height: 100vh;
            background: linear-gradient(180deg, $color-green-A400, $color-teal-A700, $color-cyan-A700, $color-light-blue-A700);
            position: fixed;
            transform: scaleX(0);
            opacity: 0;
            transition: opacity 0.5s;
        }
    }
}


//when the tablet screen click menu button

.nav-open {
    & .main__navigation {
        &__menu__line {
            background-color: transparent;

            &:before {
                transform: rotate(45deg);
                top: 0;
            }

            &:after {
                transform: rotate(-45deg);
                top: 0;
            }
        }

        &__overlay {
            @include tablet {
                opacity: 1;
                transform: scaleX(1);
            }
        }
    }

    & nav {
        @include tablet {
            transform: rotateY(0);
        }
    }
}

#pagesContianer {
    position: relative;
    margin-top: 4vh;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pages {
    background-color: white;
    position: relative;
    width: 90%;
    height: 85vh;
    margin-top: 2vh;
    border-radius: 2rem;
    box-shadow: 0 2vh 2vh #E0E0E0;

    @include tablet {
        height: 85%;
        margin-top: 12%;
    }


    @include phone {
        height: 85%;
        margin-top: 20%;
    }
}

.footer {
    margin-top: 2vh;
    color: white;
    font-size: 2vh;
}

.home {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 2rem 2rem 2rem 2rem;

    &__header {
        width: 100%;
        height: 50%;
        background-image: $color-home-page;
        border-radius: 2rem 2rem 0px 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &__photo {
            position: relative;
            margin-left: 8%;
            max-width: 32%;

            //padding-left: 10%;
            //margin-top: 10%;
            & img {
                height: 37vh;
                width: 37vh;
                border: solid 0.5vh #E0E0E0;
                border-radius: 1rem;
                box-shadow: 0 1vh 1vh #E0E0E0;
                transform: translateY(7vh);
                transition: box-shadow ease 0.5s,transform ease 0.5s;

                &:hover {
                    transform: translateY(6vh);
                    box-shadow: 0 2vh 2vh #E0E0E0;
                }
            }
        }

        &__text {
            //position: relative;
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            align-items: center;
            text-align: center;

            //justify-content: space-evenly;
            &__name {
                width: 100%;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 7vh;
                letter-spacing: -2px;
                padding: 2vh;

                & span {
                    color: white;

                    //opacity: 0;
                    transform: translate(-300px, 0) scale(0);
                    display: inline-block;
                    animation: text-name-animation 10s infinite;

                    &:nth-of-type(2) {
                        animation-delay: 0.1s;
                    }

                    &:nth-of-type(3) {
                        animation-delay: 0.2s;
                    }

                    &:nth-of-type(4) {
                        animation-delay: 0.3s;
                    }

                    &:nth-of-type(5) {
                        animation-delay: 0.4s;
                    }

                    &:nth-of-type(6) {
                        animation-delay: 0.5s;
                    }

                    &:nth-of-type(7) {
                        animation-delay: 0.6s;
                    }

                    &:nth-of-type(8) {
                        animation-delay: 0.7s;
                    }

                    &:nth-of-type(9) {
                        animation-delay: 0.8s;
                    }
                }
            }

            &__position {
                color: white;
                width: 100%;
                font-weight: bold;
                margin-top: 3vh;
                font-size: 3vh;
                padding: 2vh;

                &__txt {
                    border-right: 0.5vh solid white;
                }
            }

            &__social {
                width: 100%;
                margin-top: 3vh;
                height: 7vh;
                padding: 2vh;
                display: flex;
                align-content: center;
                justify-content: center;

                & a {
                    margin: 0 4vh;
                    color: white;
                    font-size: 5vh;
                    transition: all ease 0.7s;

                    &:hover {
                        color: #0091EA;
                        transform: scale(1.3);
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 50%;
        align-items: center;

        &__attachment {
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: space-around;
            align-items: center;

            & h3 {
                margin-top: 5vh;
                width: 100%;
                display: block;
                text-transform: uppercase;
                font-weight: bold;

                //color: #00BFA5;
                font-size: 4vh;
                letter-spacing: 0.3vh;
                text-align: center;
                padding-right: 20vh;
            }

            & button {
                //width: 100%;
                position: relative;
                margin-top: 4vh;
                display: flex;
                justify-content: center;
                border: 0.1vh solid #00BFA5;
                background-color: white;
                overflow: hidden;
                transition: all 0.5s ease;
                padding: 0.25vh 0.25vh;

                &:hover:before {
                    height: 500%;
                    opacity: 1;
                }

                &:before {
                    content: '';
                    background: #00BFA5;
                    width: 103%;
                    height: 0%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    opacity: 0;
                    transition: all 0.5s ease;
                }
            }

            &__file {
                width: 30vh;
                display: block;
                font-size: 3vh;
                text-decoration: none;
                text-align: center;
                transition: all 0.2s ease;
                color: #00BFA5;
                position: relative;

                &:hover {
                    color: white;
                }

                & .fa-file-pdf {
                    color: red;
                }

                & .fa-file-word {
                    color: royalblue;
                }

                & span {
                    //color: #00BFA5;
               
                }
            }
        }

        #doc-file {
            margin-left: 20vh;
        }

        &__description {
            position: relative;
            width: 50%;
            height: 80%;
            display: flex;
            flex-wrap: wrap;

            &__container {
                margin: 1vh 0;
                width: 100%;
                font-size: 3vh;

                //line-height: 2vh;
           
            }

            &__left {
                display: inline-block;
                min-width: 30%;
            }

            &__right {
                color: #00BFA5;
            }
        }
    }
}

.resume {
    border-radius: 2rem 2rem 2rem 2rem;
    background-color: white;

    &__title {
        width: 100%;
        height: 10vh;
        background-image: $color-other-page;
        border-radius: 2rem 2rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
            font-size: 5vh;
            color: white;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 1vh 2vh 0;
    }

    &__container {
        width: 46%;
        margin-top: 3vh;
        padding: 0 2%;

        &__title h3 {
            font-size: 4vh;
            margin: 1vh 0 3vh;
        }
    }

    &__timeline {
        padding: 2vh 0;
        border-left: 0.3vh solid #B9F6CA;

        &__item {
            position: relative;
            padding: 1.5vh 2vh 1vh;
            margin-left: 2vh;
            margin-bottom: 2vh;
            background-color: white;
            border-left: 0.3vh solid #00BFA5;
            box-shadow: 0 0 1vh 0 #B2DFDB;

            &:hover {
                box-shadow: 0 0 2.5vh 0 #B2DFDB;
            }

            &:hover:before {
                background-color: #00BFA5;
            }

            &:before {
                content: " ";
                display: inline-block;
                position: absolute;
                background-color: white;
                border-radius: 1vh;
                width: 1vh;
                height: 1vh;
                border: 0.3vh solid #00BFA5;
                z-index: 2;
                left: -3vh;
            }

            &:after {
                content: " ";
                display: inline-block;
                position: absolute;
                background-color: #00BFA5;
                width: 1.45vh;
                height: 0.3vh;
                top: 2.2vh;
                left: -1.5vh;
                z-index: 1;
            }

            &__name {
                display: block;
                margin: 0 0 1vh;
                font-size: 2.5vh;
                line-height: 3vh;
            }

            &__time {
                display: inline-block;
                font-size: 2vh;
                line-height: 3vh;
                color: #00BFA5;
                margin-bottom: 1vh;
            }

            &__place {
                display: inline-block;
                font-size: 2vh;
                line-height: 3vh;
                color: #4DB6AC;
                margin-left: 1vh;
                margin-bottom: 1vh;
                padding-left: 1vh;
                border-left: 0.3vh solid #B9F6CA;
            }

            &__description {
                font-size: 2vh;
                margin: 0 0 1vh;
                font-weight: bolder;
            }
        }
    }
}

.skills {
    border-radius: 2rem 2rem 2rem 2rem;
    background-color: white;

    &__title {
        width: 100%;
        height: 10vh;
        background-image: $color-other-page;
        border-radius: 2rem 2rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
            font-size: 5vh;
            color: white;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;

        //justify-content: flex-start;
        padding: 1vh 2vh 0;
    }

    &__heading {
        width: 100%;
        font-size: 4vh;
        margin: 1vh 0 4vh;
        font-weight: 600;
        line-height: 4.5vh;
        padding: 0 5vh;

        & span {
            color: #00BFA5;
        }
    }

    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__service {
        text-align: center;
        width: 20%;

        &__image {
            width: 15vh;
            height: 15vh;
            background-color: #c4fdef;
            box-shadow: 0 0 2vh #1DE9B6;
            border-radius: 15vh;
            text-align: center;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform ease 0.5s;

            &:hover {
                box-shadow: 0 0 5vh #1DE9B6;
                transform: scale(1.2);
            }

            & img {
                width: 10vh;
                height: 10vh;
            }
        }

        &__name {
            font-size: 2.5vh;
            margin-top: 2.5vh;
            margin-bottom: 2vh;
            font-weight: bold;
        }

        &__description {
            font-size: 1.8vh;
            font-weight: bolder;
        }
    }

    &__bars {
        width: 46%;
        padding: 0 2%;

        &__name {
            font-weight: bolder;
            font-size: 2.3vh;
        }

        &__bar {
            margin-bottom: 1vh;
            width: 100%;
            height: 1vh;
            background-color: #c4fdef;
            border: 0.3vh solid #E0F2F1;
        }

        &__percentage {
            transition: all 2s ease-in-out;
            background-color: #00BFA5;
            height: 100%;
        }
    }
}

.blog {
    border-radius: 2rem 2rem 2rem 2rem;
    background-color: white;

    &__title {
        width: 100%;
        height: 10vh;
        background-image: $color-other-page;
        border-radius: 2rem 2rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
            font-size: 5vh;
            color: white;
        }
    }
}

.contact {
    border-radius: 2rem 2rem 2rem 2rem;
    background-color: white;

    &__title {
        width: 100%;
        height: 10vh;
        background-image: $color-other-page;
        border-radius: 2rem 2rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
            font-size: 5vh;
            color: white;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 1vh 2vh 0;
    }

    &__container {
        width: 46%;
        padding: 0 2%;
    }

    &__heading {
        //width: 100%;
        font-size: 4vh;
        margin: 1vh 0 4vh;
        font-weight: 600;
        line-height: 4.5vh;

        & span {
            color: #00BFA5;
        }
    }

    &__map {
        height: 30vh;
        width: 85%;
        border: #00BFA5 solid 0.3vh;
        border-radius: 1vh;
        margin-bottom: 3vh;
    }

    &__info {
        position: relative;
        text-align: left;
        width: 100%;
        display: block;
        margin: 0;
        padding: 1vh 0 1vh;

        &__icon {
            position: absolute;
            width: 4vh;
            height: 4vh;
            background-color: #00BFA5;
            border-radius: 2vh;
            color: white;
            font-size: 2.2vh;
            display: flex;
            align-items: center;
            justify-content: center;
            border: #00BFA5 solid 0.1vh;
            transition: all 0.7s ease;

            &:hover {
                background-color: white;
                color: #00BFA5;
            }
        }

        &__text {
            margin-left: 6vh;
            font-size: 2.3vh;
            line-height: 4vh;
            font-weight: bolder;
        }
    }

    &__form {
        &__group {
            position: relative;
            margin: 0 0 2vh;
            height: 5vh;
            &:last-of-type{
                height: 30vh;
            }
            &:focus-within{
                & i{
                    color: #0091EA;
                    background-color: #E3F2FD;
                }
                & label{
                    color: #0091EA;
                    font-size: 1vh;
                    transform: translateY(-2vh);
                }
                & .contact__form__group__border{
                    left: 0;
                    right: 0;
                }
            }
            
           
            & i{
                display:inline-block;
                position: absolute;
                color:#00BFA5;
                width: 5vh;
                height: 100%;
                font-size: 3vh;
                background-color: #E0F2F1;
                display: flex;
                align-items: center;
                justify-content: center;
                //border-bottom: 0.1vh solid #00BFA5;
                z-index: 1;
                &#message-icon{
                    line-height: 5vh;
                    align-items:flex-start;
                }
            }
            & label{
                display:inline-block;
                position: absolute;
                left:6vh;
                color:#00BFA5;
                font-size: 2vh;
                font-weight: bolder;
                line-height: 5vh;
                transition: all ease 0.5s;
            }
            & input{
                position: absolute;
                border: 0;
                border-bottom: 0.1vh solid #00BFA5;
                border-radius: 0;
                display:inline-block;
                width: 100%;
                height: 5vh;
                background: transparent;
                margin: 0;
                padding-left: 6vh;
                outline: none;
            }
            & textarea{
                position: absolute;
                border: 0;
                border-bottom: 0.1vh solid #00BFA5;
                border-radius: 0;
                display:inline-block;
                width: 100%;
                background: transparent;
                margin: 0;
                padding-left: 6vh;
                outline: none;
                height:100%;
                padding-top: 2vh;
            }
            &__border{
                content: "";
                z-index: 1;
                position: absolute;
                background-color: #0091EA;
                height: 0.3vh;
                left: 50%;
                right:50%;
                bottom: 0;
                transition: all ease 0.5s;
            }
            &__error{
                position: absolute;
                //display: inline-block;
                display: none;
                padding: 0 1vh;
                font-size: 1.5vh;
                line-height: 2vh;
                margin: 5vh 0 0 6vh;
                color: #ff4c4c;
                background: #E0F2F1;
                &:after{
                    content: " ";
                    position: absolute;
                    left: 1vh;
                    bottom: 100%;
                    width: 0;
                    height: 0;
                    border-bottom: 1vh solid #E0F2F1;
                    border-right: 1vh solid transparent;
                }
            }
        }
        &__button{
            margin-top: 2vh;
            background-color: #00BFA5;
            color: white;
            border: 0.1vh solid #00BFA5;
            box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.1), 0 1vh 1vh rgba(0, 0, 0, 0.1);
            text-transform: uppercase;
            font-size: 2vh;
            font-weight: bolder;
            line-height: 6vh;
            padding: 0 2vh;
            outline: none;
            border-radius: 1vh;
            transition: all ease 0.7s;
            &:hover{
                transform:scale(1.1);
                background-color:#26A69A;
                box-shadow: 0 2vh 2vh rgba(0, 0, 0, 0.3), 0 2vh 2vh rgba(0, 0, 0, 0.3);   
            }
            &:active{
                background-color: white;
                color:#26A69A;
                box-shadow: 0 2vh 2vh rgba(0, 0, 0, 0.5), 0 2vh 2vh rgba(0, 0, 0, 0.5);
            }

        } 
    }

   
}
